@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    /* font-size: 62.5%; */
}
body {
    font-family: 'Pretendard-Regular';
    min-width: 1200px;
}
.section {
    padding: 16rem 0;
}
.inner {
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 auto;
}
.title h3 {
    font-size: 5.6rem;
    line-height: 1.3;
}
.title p {
    font-size: 2.4rem;
    margin-top: 1rem;
}
.title a {
    width: 17.4rem;
    height: 6rem;
    border: 1px solid #191919;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.6rem;
    font-size: 2rem;
}
.title a::after {
    content: '';
    width: 24px;
    height: 24px;
    background: url('../img/icon-next-black.svg') center center / 100% no-repeat;    
}


/* main_visual */
.main_visual {
    height: 100vh;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .text {
    max-width: 1440px;
    width: calc(100% - 32px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.main_visual .text h2 {
    /* 글자크기 : 70px */
    font-size: 7rem;
}
.main_visual .text p {
    /* 글자크기 : 28px */
    font-size: 2.8rem;
    /* 여백 : 위40px 좌우0 아래 80px */
    margin: 4rem 0 8rem;
}
.main_visual .text a {
    /* width: 23.1rem; */
    height: 5.6rem;
    border-radius: 5rem;
    background-color: #fff;
    /* display: block; */
    display: inline-block;
    line-height: 5.6rem;
    padding: 0 2rem;
    /* 글자크기: 20px; */
    font-size: 2rem;
    color: #191919;
}


/* section-01 */
.section-01 {
    background-color: #05012D;
    color: #fff;
}
.section-01 .sectionSlide-1 {
    margin-top: 8rem;
}
.section-01 .swiper-wrapper {
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 auto;
}
.section-01 .swiper-wrapper .swiper-slide {
    /* height: 402px; */
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
    padding: 8rem 6rem;
}
.section-01 .swiper-wrapper .swiper-slide span {
    font-size: 2.4rem;
    color: #0088FF;
}
.section-01 .swiper-wrapper .swiper-slide h4 {
    font-size: 4rem;
    margin: 0.8rem 0 6rem;
}
.section-01 .swiper-wrapper .swiper-slide p {
    font-size: 2rem;
    line-height: 1.6;
    word-break: keep-all;
}
.section-01 .swiper-wrapper .swiper-slide:last-child {
    opacity: 0;
}

/* .section-02 */
.section-02 {
    background-color: #05012D;
}
.section-02 .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-02 .inner .title {
    /* width: 31.66%; */
    width: 462px;
    color: #fff;
    position: sticky;
    top: 20px;
}
.section-02 .inner .title a {
    /* border: 1px solid #fff; */
    border-color: #fff;
}
.section-02 .inner .title a::after {
    background-image: url('../img/icon-next-white.svg');
}
.section-02 .inner .item_wrap {
    /* width: 702px; */
    width: 48.75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-02 .inner .item_wrap .item {
    width: 47.43%;
    max-height: 39.9rem;
    /* 399/ 1440 * 100 */
    height: 27.70vw;
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;
}
.section-02 .inner .item_wrap .item a::before {
    content: '';
    width: 41px;
    height: 24px;
    background: url('../img/icon-next-big.svg') center center / 100% no-repeat;
    position: absolute;
    top: 3.2rem;
    left: 3.2rem;
}

.section-02 .inner .item_wrap .item a {
    height: 100%;
}
.section-02 .inner .item_wrap .item .image {
    height: 100%;
}
.section-02 .inner .item_wrap .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-02 .inner .item_wrap .item strong {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 3.2rem;
    font-size: 2.8rem;
    color: #fff;
    line-height: 1.3;
    word-break: keep-all;
}


.section-02 .inner .item_wrap .item:nth-child(even) {
    margin-top: 12rem;
}
.section-02 .inner .item_wrap .item:nth-child(2) {
    margin-top: 20rem;
}
.section-02 .inner .item_wrap .item:nth-child(3) {
    margin-top: -8rem;
}
.section-02 .inner .item_wrap .item:nth-child(5) {
    margin-top: -8rem;
}

/* .section-03  */

.section-03 {
    position: relative;
}
.section-03 .sectionSlide-3 {
    /* margin-top: 10rem; */
    margin: 10rem 3.6rem 0;
    position: static;
}

.section-03 .sectionSlide-3 .swiper-slide .image {
    max-height: 26rem;
    /* 260 / 1858 * 100 */
    height: 13.99vw;
    border-radius: 1.6rem;
    overflow: hidden;
}
.section-03 .sectionSlide-3 .swiper-slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-03 .sectionSlide-3 .swiper-slide .text {
    margin-top: 2.4rem;
}
.section-03 .sectionSlide-3 .swiper-slide .text span {
    font-size: 2rem;
    color: #999;
}
.section-03 .sectionSlide-3 .swiper-slide .text h4 {
    font-size: 2.4rem;
    color: #191919;
    margin: 1rem 0 2.4rem;
}
.section-03 .sectionSlide-3 .swiper-slide .text .link_btn {
    color: #0088FF;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.section-03 .sectionSlide-3 .swiper-slide .text .link_btn::after {
    content: '';    
    width: 24px;
    height: 24px;
    background: url('../img/icon-next-rotate-blue.svg') center center / 100% no-repeat;
    display: inline-block;
}

.section-03 .sectionSlide-3  .swiper-button-wrap {
    /* background-color: antiquewhite; */
    position: absolute;
    top: 26rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
}
.section-03 .sectionSlide-3 .swiper-button-next {
    width: 50px;
    height: 50px;
    background: url('../img/icon-slideNext.svg') center center / 100% no-repeat;
    top: 0;
    right: 0;
    margin: 0;
    position: static;
}

.section-03 .sectionSlide-3 .swiper-button-prev {
    width: 50px;
    height: 50px;
    background: url('../img/icon-slideprev.svg') center center / 100% no-repeat;
    top: 0;
    margin: 0;
    left: auto;
    right: 0;
    position: static;
}

.section-03 .swiper-button-next:after, 
.section-03 .swiper-rtl .swiper-button-prev:after {
    display: none;
}
.section-03 .swiper-button-prev:after, 
.section-03 .swiper-rtl .swiper-button-next:after {
    display: none;
}


/* .section-04 */
.section-04 {
    padding-top: 0;
}
.section-04 .inner {
    height: 48rem;
    border-radius: 3rem;
    background: url('../img/sec-04_bg.jpg') center center / cover no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-04 .inner .title h3 {
    font-size: 4rem;
    color: #fff;
}
.section-04 .inner .btn_wrap {
    display: flex;
    gap: 1.2rem;
    margin-top: 7.2rem;
}
.section-04 .inner .btn_wrap a {
    width: 25.2rem;
    height: 6rem;
    border-radius: 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #0088FF;
}
.section-04 .inner .btn_wrap a::after {
    content: '';
    width: 24px;
    height: 24px;
    background: url('../img/icon-next-blue.svg') center center / 100% no-repeat;
}
.section-04 .inner .btn_wrap a.stroke {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.section-04 .inner .btn_wrap a.stroke::after {
    background-image: url('../img/icon-next-white.svg');
}

 